.section6{
    background-color: var(--black-shade);
    text-align: center;

}
.section6 .container{
    padding: 10rem 0;
}
.section6 h1{
    color: white;
    font-size: var(--sub-head);
}
.section6 i{
    font-size: var(--main-head);
    color: var(--yellow);
}
.section6 h2{
    color: white;
    font-size: var(--sub-head);
    margin: 1rem 0;
}
.section6 p{
color: var(--orange-shade2);
}

.section6 .facts{
    margin-top: 5rem;
}